<html>
<body>
<p>
 本包中的类用于呈现屏幕内容及其变更，以及查询系统全局辅助功能的状态。
</p>
<p>
  {@link android.view.accessibility.AccessibilityEvent} 在用户界面发生显著变化时由系统发送。
比如 {@link android.widget.Button 按钮}按下、{@link android.view.View 视图}的到焦点等等。
</p>
<p>
  {@link android.view.accessibility.AccessibilityRecord} 包含源 {@link android.view.View 视图} 
的状态变化信息。当视图要触发辅助功能事件时，需要向其容器请求创建事件并分发。
其容器可以选择为自己添加一条记录，以便为 {@link android.accessibilityservice.AccessibilityService}
 提供更多内容。因此，辅助功能服务可以方便的添加辅助功能记录来增强反馈。
</p>
<p>
  {@link android.view.accessibility.AccessibilityNodeInfo} 代表窗口内容和请求动作的节点，
以 {@link android.accessibilityservice.AccessibilityService} 的角度来说，
窗口内容呈现为辅助功能节点信息的树型结构，与视图层次不一定是一对一的关系。
就是说，定制视图可以自由的报告自己在树中的辅助功能节点信息。
</p>
<p>
  {@link android.view.accessibility.AccessibilityManager} 是系统级别的服务，服务于
{@link android.view.accessibility.AccessibilityEvent} 事件的分发和系统辅助功能状态的查询。
辅助功能事件在用户界面发生显著变化时发生，例如 {@link android.app.Activity 活动}启动，
 {@link android.view.View 视图}的焦点或选择状态变更等等。要处理辅助功能事件，
应该继承 {@link android.accessibilityservice.AccessibilityService}，实现并注册辅助功能服务。
</p>
<div class="special reference">
<h3>开发者向导</h3>
<p>关于创建应用程序辅助功能的更多信息参见 <a href="{@docRoot}guide/topics/ui/accessibility/index.html">
辅助功能</a>开发者向导。</p>
</div>

</body>
</html>
